/* NEED TO ADD AND ADJUST HEADER - LESS PADDING ON BOTTOM!!! */

/* EVENTUALLY MIGRATE ALL USED CSS TO HERE FROM FLAT UI? */

.order-list ul{
	padding: 0;
	margin: 0 0 26px;
	text-decoration: none;
	list-style-type: none;
	}

.order-list ul li:first-child {
	padding-top: 1px;
	border-top: none;
	}

.padding-table-cols th {
	padding:4px 20px 4px 20px;
	}

.padding-table-cols td {
	padding:1px 20px 1px 20px;
	}

#block-text {
	max-width: 800px;
	margin: 200px auto;
	margin-top: 60px;
	padding-bottom: 20px;
	z-index: 50;
}

#block-text .block-text {
	max-width: 600px;
	margin: 0px auto;
	padding: 10px;
}

#header { 
	position: relative; 
	top: 0px; 
	left: 50px
	}

#movetofront {
	position: relative; 
	z-index: 100;
	}

#movetoback{
	position: relative; 
	z-index: -100;
	}

#fileToUpload {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#smaller-table-text {
	font-size: x-small;
}